{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Create Posts
{% endblock %}

{% block carousel %}

<div class="container" >
    <div class="row">
<div class="col-md-6 col-md-offset-4 col-xs-3">
        <div ><h1> Create Listing </h1></div>
</div>

<div class="col-md-6 col-md-offset-3 col-xs-3">
<form method="POST" action=" " enctype="multipart/form-data"> {% csrf_token %}
    {{ form|crispy }}
<div class="row">
    <div class="col-md-6 col-md-offset-4 col-xs-3">
        <button type="submit" class="btn btn-success btn btn-primary col-md-6">Save</button>
    </div>
</div>
</form>
        </div>
    </div>
</div>

{% endblock carousel %}

{% block marketing %}
<div class="container">

</div>
{% endblock %}








