{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Buying Details
{% endblock %}

{% block carousel %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2" style="text-align: center">
            {% if messages %}
                {% for message in messages %}
                <p class="bg-success" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div class="container ">
    <div class="row">
    <div class="col-md-12 ">

        {% include 'imageSlider.html' %}

        </div>
     </div>
</div>
{% endblock %}

{% block marketing %}
<div class="container">
 <div class="row">
     <div class="col-md-12">
<h1>Owner: {{ queryset.owner_name }}</h1>
     <h2>Price: $ {{ queryset.price }}</h2>
    <p> <h4><strong>Overview:</strong></h4>  {{ queryset.overview }}</p>
</div>
     </div>
    </div>
{% endblock %}
